{% extends 'base.html' %}
{% block title %} Create A New Post {% endblock title %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Add Blog Posts</h1>
    <br/><br/>

    <div class="form-group">
<form method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">post</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("authorid").value = name;
    </script>
{% else %}
    you're not allowed!!    
{% endif %}

{% endblock  %}
