{% extends 'base.html' %}
{% block title %} Edit A Post {% endblock title %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Update Blog Posts....</h1>
        <br/><br/>

        <div class="form-group">
            <form method='POST'>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
                <a href="{% url 'home' %}" class="btn btn-secondary"> Back </a>
        </div>
    {% else %}
        <h1> you're not allowed!! </h1>
    {% endif %}
{% else %}
    you're not allowed!!    
{% endif %}


{% endblock  %}
